*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build
.DS_Store
.idea
package-lock.json
lambda/hello1.py.zip
template.yaml
Pipfile.lock
abc.json
hello_response.json
